<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="{% static 'demoapp/css/materialize.min.css' %}" type="text/css"
          media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'demoapp/css/styles.css' %}" type="text/css">
</head>
<body>
{% block content %}
{% endblock %}

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>